<ul class="main-menu__list">
  <li class="{% if page.url == '/' %}current{% endif %}">
    <a href="/">Home </a>
  </li>
  <li class="{% if page.url == '/about-us/' %}current{% endif %}">
    <a href="/about-us/">About us</a>
  </li>

  <li class="dropdown{% if page.url == '/services/' %} current{% endif %}">
    <a href="/services/">Our Services</a>
    <ul>
      <!-- Loop through service categories from JSON -->
      {% for category in services.serviceCategories %}
      <li class="dropdown">
        <a href="#" title="/services/{{ category.title | slug }}">{{
          category.title
        }}</a>
        <ul>
          <!-- Loop through services within each category -->
          {% for service in category.services %}
          <li>
            <a
              href="/services/{{ category.title | slug }}/{{
                service.title | slug
              }}"
            >
              {{ service.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </li>

  <li class="{% if page.url == '/contact/' %}current{% endif %}">
    <a href="/contact/">Contact</a>
  </li>
</ul>
