<div class="nav-wrap">
  <nav id="mainnav" class="mainnav">
    <ul class="menu">
      <li>
        <a href="/" title="">Home</a>

        <!-- /.sub-menu -->
      </li>
      <li class="current-menu-item menu-item-has-children">
        <a href="/about/" title="">About</a>
        <ul class="sub-menu">
          <li class="current-item">
            <a href="/about/" title="">About Us</a>
          </li>
          <li><a href="team.html" title="">Team</a></li>
          <li><a href="/faq/" title="">Faq</a></li>
        </ul>
        <!-- /.sub-menu -->
      </li>
      <li class="menu-item-has-children">
        <a href="/services/" title="">Services</a>
        <ul class="sub-menu">
          <li><a href="/services/" title="">Services</a></li>
          <li>
            <a href="/services/service-detail/" title="">Service Details</a>
          </li>
        </ul>
        <!-- /.sub-menu -->
      </li>
      <li class="menu-item-has-children">
        <a href="/case-study/" title="">Case</a>
        <ul class="sub-menu">
          <li>
            <a href="/case-study/" title="">Case Study</a>
          </li>
          <li>
            <a href="/case-study/case-study-details/" title="">Case Details</a>
          </li>
        </ul>
        <!-- /.sub-menu -->
      </li>
      <li class="menu-item-has-children">
        <a href="/blog/" title="">Blog</a>
        <ul class="sub-menu">
          <li>
            <a href="/blog/" title="">Blog Standard</a>
          </li>
          <li>
            <a href="/blog/blog-detail/" title="">Blog Detail</a>
          </li>
        </ul>
        <!-- /.sub-menu -->
      </li>
      <li>
        <a href="/contact/" title="">Contact</a>
      </li>
    </ul>
  </nav>
</div>
