<ul class="main-menu__list">
  <li class="{% if page.url == '/' %}current{% endif %}">
    <a href="/">Home </a>
  </li>
  <li class="{% if page.url == '/about-us/' %}current{% endif %}">
    <a href="/about-us/">about us</a>
  </li>
  <li class="dropdown{% if page.url == '/services/' %} current{% endif %}">
    <a href="/services/">Our Services</a>
    <ul>
      <li><a href="/services/">Services</a></li>
      <li>
        <a href="/services/services-details-1/">Service Details One</a>
      </li>
      <li><a href="spa-facials">Spa Facials</a></li>
      <li><a href="massages">Massages</a></li>
      <li>
        <a href="hydro-therapy">Hydro Therapy</a>
      </li>
      <li><a href="thermo-stone">Thermo Stone</a></li>
      <li><a href="salt-&-aroma">Salt & Aroma</a></li>
      <li>
        <a href="body-treatments">Body Treatments</a>
      </li>
    </ul>
  </li>

  <li class="{% if page.url == '/contact/' %}current{% endif %}">
    <a href="/contact/">Contact</a>
  </li>
</ul>
