<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ service.title }}</title>
    <meta name="description" content="{{ service.smallDescription }}" />
    <!-- favicons Icons -->

    <meta name="description" content="pure-vanity HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{
        '/assets/vendors/bootstrap/css/bootstrap.min.css' | url | bust
      }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/animate/animate.min.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/animate/custom-animate.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/fontawesome/css/all.min.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/jarallax/jarallax.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{
        '/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css'
          | url
          | bust
      }}"
    />
    <link
      rel="stylesheet/"
      href="{{ '/assets/vendors/nouislider/nouislider.min.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/nouislider/nouislider.pips.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/odometer/odometer.min.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/swiper/swiper.min.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/pure-vanity-icons/style.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{
        '/assets/vendors/tiny-slider/tiny-slider.min.css' | url | bust
      }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/reey-font/stylesheet.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{
        '/assets/vendors/owl-carousel/owl.carousel.min.css' | url | bust
      }}"
    />
    <link
      rel="stylesheet"
      href="{{
        '/assets/vendors/owl-carousel/owl.theme.default.min.css' | url | bust
      }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/bxslider/jquery.bxslider.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{
        '/assets/vendors/bootstrap-select/css/bootstrap-select.min.css'
          | url
          | bust
      }}"
    />
    <link
      rel="stylesheet/"
      href="{{ '/assets/vendors/vegas/vegas.min.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/jquery-ui/jquery-ui.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/timepicker/timePicker.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/vendors/twenty-twenty/twentytwenty.css' | url | bust }}"
    />

    <!-- template styles -->
    <link
      rel="stylesheet"
      href="{{ '/assets/css/pure-vanity.css' | url | bust }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/pure-vanity-responsive.css' | url | bust }}"
    />
  </head>

  <body>
    <!-- <div class="preloader">
      <div class="preloader__image"></div>
    </div> -->
    <!-- /.preloader -->

    <div class="page-wrapper">
      <header class="main-header">
        <div class="main-header__top">
          <div class="main-header__top-wrapper">
            <div class="main-header__top-inner">
              <div class="main-header__top-left">
                <ul class="list-unstyled main-header__contact-list">
                  <li>
                    <div class="icon">
                      <i class="fas fa-envelope"></i>
                    </div>
                    <div class="text">
                      <p>
                        <a href="{{ site.email }}">{{ site.email }}</a>
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fas fa-phone"></i>
                    </div>
                    <div class="text">
                      <p>
                        <a href="{{ site.phoneUrl }}">{{ site.phoneText }}</a>
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="main-header__top-right">
                <div class="main-header__social">
                  {% include "social.njk" %}
                </div>
                <div class="main-header__btn-box">
                  <a href="/contact/" class="thm-btn main-header__btn"
                    >Book now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <nav class="main-menu">
          <div class="main-menu__wrapper">
            <div class="main-menu__wrapper-inner">
              <div class="main-menu__left">
                <div class="main-menu__logo">
                  <a href="/"
                    ><img
                      src="/assets/images/logo/pv-logo-black-3.png"
                      alt=""
                      width="160"
                  /></a>
                </div>
              </div>
              <div class="main-menu__main-menu-box">
                <a href="#" class="mobile-nav__toggler"
                  ><i class="fa fa-bars"></i
                ></a>
                {% include 'nav.njk' %}
              </div>
            </div>
          </div>
        </nav>
      </header>

      <div class="sticky-header sticked-menu main-menu">
        <div class="sticky-header__content"></div>
        <!-- /.sticky-header__content -->
      </div>
      <!-- /.sticky-header -->

      <!--Page Header Start-->
      <section class="page-header">
        <div
          class="page-header__bg"
          style="background-image: url(/assets/images/hero-inner.jpg)"
        ></div>
        <div class="container">
          <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
              <li><a href="/">Home</a></li>
              <li><span>/</span></li>
              <li><a href="/treatments/">Treatments</a></li>
              <li><span>/</span></li>
              <li>{{ service.category }}</li>
            </ul>
            <h2>{{ service.title }}</h2>
          </div>
        </div>
      </section>
      <!--Page Header End-->

      <section class="services-details-two">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-7 order-lg-1">
              <div class="services-details-two__right">
                <section>
                  <div class="services-details-two__img">
                    <img
                      src="{{ service.thumbnail }}"
                      alt="{{ service.title }}"
                    />
                  </div>
                  <header>
                    <h3 class="services-details-two__title-1">
                      {{ service.title }}
                    </h3>
                  </header>
                  <article>
                    {% set longDescriptionPath = "service-pages/" ~
                    service.longDescription | slug %} {% include
                    longDescriptionPath %} 
                    
                    {% set data = service.faq %} 
                    {% include "faq.njk"%}
                    
                    {% if service.before %}
                      {% include "before-after.njk" %}
                    {% endif %}
                  </article>
                </section>
              </div>
            </div>
            <div class="col-lg-5 col-xl-4 mt-4 mt-lg-0">
              <div class="services-details-two__left">
                <div class="services-details-two__category">
                  {% include "service-detail-nav.njk" %}
                  <!-- <ul class="services-details-two__category-list list-unstyled">
                    <li>
                      <a href="spa-facials.html"
                        >Spa Facials <i class="fa fa-angle-right"></i
                      ></a>
                    </li>
                    <li>
                      <a href="massages.html"
                        >Massages <i class="fa fa-angle-right"></i
                      ></a>
                    </li>
                    <li>
                      <a href="hydro-therapy.html"
                        >Hydro Therapy <i class="fa fa-angle-right"></i
                      ></a>
                    </li>
                    <li>
                      <a href="thermo-stone.html"
                        >Thermo Stone <i class="fa fa-angle-right"></i
                      ></a>
                    </li>
                    <li>
                      <a href="salt-&-aroma.html"
                        >Salt & Aroma <i class="fa fa-angle-right"></i
                      ></a>
                    </li>
                    <li class="active">
                      <a href="body-treatments.html"
                        >Body Treatments <i class="fa fa-angle-right"></i
                      ></a>
                    </li>
                  </ul> -->
                </div>
                <div class="services-details-two__help-line">
                  <div class="services-details-two__help-line-img">
                    <img src="/assets/images/book1.jpg" alt="" />
                  </div>
                  <div class="services-details-two__help-line-content">
                    <div class="services-details-two__help-line-icon">
                      <span class="icon-telephone-call"></span>
                    </div>
                    <p class="services-details-two__help-line-sub-title">
                      Book an appointment
                    </p>
                    <h3 class="services-details-two__help-number">
                      <a href="{{ site.phoneUrl }}">{{ site.phoneText }}</a>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include "footer.njk" %}
    </div>
    <!-- /.page-wrapper -->

    <div class="mobile-nav__wrapper">
      <div class="mobile-nav__overlay mobile-nav__toggler"></div>
      <!-- /.mobile-nav__overlay -->
      <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"
          ><i class="fa fa-times"></i
        ></span>

        <div class="logo-box">
          <a href="index.html" aria-label="logo image"
            ><img src="/assets/images/pv-logo-white.png" width="90" alt=""
          /></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
          <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          <li>
            <i class="fa fa-phone-alt"></i>
            <a href="{{ site.phoneUrl }}">{{ site.phoneText }}</a>
          </li>
        </ul>
        <!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
          <div class="mobile-nav__social">{% include "social.njk" %}</div>
          <!-- /.mobile-nav__social -->
        </div>
        <!-- /.mobile-nav__top -->
      </div>
      <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
      <div class="search-popup__overlay search-toggler"></div>
      <!-- /.search-popup__overlay -->
      <div class="search-popup__content">
        <form action="#">
          <label for="search" class="sr-only">search here</label
          ><!-- /.sr-only -->
          <input type="text" id="search" placeholder="Search Here..." />
          <button type="submit" aria-label="search submit" class="thm-btn">
            <i class="icon-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"
      ><i class="fa fa-angle-up"></i
    ></a>

    <script src="{{
        '/assets/vendors/jquery/jquery-3.6.0.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/bootstrap/js/bootstrap.bundle.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/jarallax/jarallax.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/jquery-appear/jquery.appear.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js'
          | url
          | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js'
          | url
          | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/jquery-validate/jquery.validate.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/nouislider/nouislider.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/odometer/odometer.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/swiper/swiper.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/tiny-slider/tiny-slider.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/wnumb/wNumb.min.js' | url | bust
      }}"></script>
    <script src="{{ '/assets/vendors/wow/wow.js' | url | bust }}"></script>
    <script src="{{
        '/assets/vendors/isotope/isotope.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/countdown/countdown.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/owl-carousel/owl.carousel.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/bxslider/jquery.bxslider.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/bootstrap-select/js/bootstrap-select.min.js'
          | url
          | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/vegas/vegas.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/jquery-ui/jquery-ui.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/timepicker/timePicker.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/circleType/jquery.circleType.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/circleType/jquery.lettering.min.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/sidebar-content/jquery-sidebar-content.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/twenty-twenty/twentytwenty.js' | url | bust
      }}"></script>
    <script src="{{
        '/assets/vendors/twenty-twenty/jquery.event.move.js' | url | bust
      }}"></script>

    <!-- template js -->
    <script src="{{ '/assets/js//pure-vanity.js' | url | bust }}"></script>
  </body>
</html>
