---
layout: layouts/inner.njk
title: "titl"
excerpt: "title"
permalink: /contact/
---

<!--Spa Center Three Start-->
<section class="spa-center-three">
  <div class="container">
    <div class="section-title text-center">
      <span class="section-title__tagline">Locations</span>
      <h2 class="section-title__title">Our Spa Centers</h2>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="spa-center-three__single">
          <h3 class="spa-center-three__title">Austin</h3>
          <p class="spa-center-three__text">
            22 Texas West Hills <br />
            Mon - Fri: 9:00 to 19:00
          </p>
          <div class="spa-center-three__contact">
            <a href="mailto:needhelp@company.com">needhelp@company.com</a>
            <a href="tel:8889990000">888 999 0000</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="spa-center-three__single">
          <h3 class="spa-center-three__title">Boston</h3>
          <p class="spa-center-three__text">
            22 Texas West Hills <br />
            Mon - Fri: 9:00 to 19:00
          </p>
          <div class="spa-center-three__contact">
            <a href="mailto:needhelp@company.com">needhelp@company.com</a>
            <a href="tel:8889990000">888 999 0000</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="spa-center-three__single">
          <h3 class="spa-center-three__title">New York</h3>
          <p class="spa-center-three__text">
            22 Texas West Hills <br />
            Mon - Fri: 9:00 to 19:00
          </p>
          <div class="spa-center-three__contact">
            <a href="mailto:needhelp@company.com">needhelp@company.com</a>
            <a href="tel:8889990000">888 999 0000</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="spa-center-three__single">
          <h3 class="spa-center-three__title">Baltomore</h3>
          <p class="spa-center-three__text">
            22 Texas West Hills <br />
            Mon - Fri: 9:00 to 19:00
          </p>
          <div class="spa-center-three__contact">
            <a href="mailto:needhelp@company.com">needhelp@company.com</a>
            <a href="tel:8889990000">888 999 0000</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Spa Center Three End-->

<!--Contact Page Start-->
<section class="contact-page">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5">
        <div class="contact-page__left">
          <div class="section-title text-left">
            <span class="section-title__tagline">Contact us</span>
            <h2 class="section-title__title">Send a Message</h2>
          </div>
          <p class="contact-page__text">
            Interested in our spa services? We want your <br />
            spa experience to be a memorable one.
          </p>
          <div class="contact-page__social">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="contact-page__right">
          <div class="contact-page__content">
            <form
              action="assets/inc/sendemail.php"
              class="contact-page__form contact-form-validated"
              novalidate="novalidate"
            >
              <div class="row">
                <div class="col-xl-6">
                  <div class="contact-page__form-input-box">
                    <input type="text" placeholder="Full Name" name="name" />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="contact-page__form-input-box">
                    <input
                      type="email"
                      placeholder="Email Address"
                      name="email"
                    />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="contact-page__form-input-box">
                    <input type="text" placeholder="Phone" name="Phone" />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="contact-page__form-input-box">
                    <input type="text" placeholder="Subject" name="Subject" />
                  </div>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="contact-page__form-input-box text-message-box">
                  <textarea
                    name="message"
                    placeholder="Write a Message"
                  ></textarea>
                </div>
                <div class="contact-page__btn-box">
                  <button type="submit" class="thm-btn contact-page__btn">
                    Send a message
                  </button>
                </div>
              </div>
            </form>
            <div class="result"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Contact Page End-->

<!--Google Map Start-->
<section class="contact-page__google-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
    class="contact-page__google-map-one"
    allowfullscreen
  ></iframe>
</section>
<!--Google Map End-->
