---
layout: layouts/default.njk
title: "titl"
excerpt: "title"
permalink: /
---

<!--Opening Hour Start-->
<section class="opening-hour">
  <div class="container">
    <div class="opening-hour__inner">
      <div class="opening-hour__left">
        <div class="icon">
          <span class="icon-alarm-clock"></span>
        </div>
        <h3>Opening Hours</h3>
      </div>
      <div class="opening-hour__right">
        <ul class="opening-hour__single list-unstyled">
          <li>
            <p>Monday to Friday</p>
            <h3>12:00 pm - 19:00 pm</h3>
          </li>
          <li>
            <p>Saturday to Sunday</p>
            <h3>8:00 am to 3:30 pm</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--Opening Hour End-->

<!--Our Intro Start-->

<section class="welcome-one">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="welcome-one__left">
          <div
            class="welcome-one__img-box wow slideInLeft animated"
            data-wow-delay="100ms"
            data-wow-duration="2500ms"
            style="
              visibility: visible;
              animation-duration: 2500ms;
              animation-delay: 100ms;
              animation-name: slideInLeft;
            "
          >
            <div class="welcome-one__img">
              <img src="/assets/images/hero3.jpg" alt="" />
              <div class="welcome-one__shape-1 float-bob-y">
                <img
                  src="/assets/images/shapes/welcome-one-shape-1.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="welcome-one__right">
          <div class="section-title text-left">
            <span class="section-title__tagline">Welcome to Pure Vanity</span>
            <h2 class="section-title__title">
              Aesthetic Excellence for Radiant Skin and Body
            </h2>
          </div>
          <p class="welcome-one__text">
            At <strong>Pure Vanity</strong>, we believe in enhancing your
            natural beauty with the most advanced non-surgical treatments
            available today. Our team of experienced medical professionals
            offers personalized care using cutting-edge techniques and premium
            products to help you look and feel your best. Whether you’re seeking
            age-defying facials, body contouring, or wrinkle reduction, we are
            dedicated to helping you achieve rejuvenated skin and a sculpted
            body, tailored to your individual goals.
          </p>
          <div class="our-intro__points-box">
            <ul class="our-intro__points list-unstyled">
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <div class="text">
                  <p>Expert Medical Professionals</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <div class="text">
                  <p>Results-Driven Treatments</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <div class="text">
                  <p>Advanced Technologies</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <div class="text">
                  <p>Natural, Long-Lasting Results</p>
                </div>
              </li>
            </ul>
            <!-- <div class="our-intro__person">
              <div class="our-intro__person-img">
                <img
                  src="assets/images/resources/our-intro-person-img.jpg"
                  alt=""
                />
              </div>
              <div class="our-intro__person-name">
                <h3>Gracie</h3>
              </div>
            </div> -->
          </div>
          <div class="welcome-one__btn-box">
            <a href="services.html" class="welcome-one__btn thm-btn"
              >Discover more</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Our Intro End-->

<!--Services Three Start-->
<section class="services-three">
  <div class="container">
    <div class="services-three__top">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="services-three__left">
            <div class="section-title text-left">
              <span class="section-title__tagline">Our Services</span>
              <h2 class="section-title__title">What We’re Offering</h2>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="services-three__right">
            <p class="services-three__text">
              There are many variations of passages of lorem Ipsum available,
              but the majority simply free text now have suf-fered alteration.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="services-three__bottom">
      <div class="row">
        <!--Services Three Single Start-->
        <div
          class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
          data-wow-delay="100ms"
        >
          <div class="services-three__single">
            <div class="services-three__shape-1">
              <img
                src="assets/images/shapes/services-three-shape-1.png"
                alt=""
              />
            </div>
            <div class="services-three__icon">
              <span class="icon-meditation"></span>
            </div>
            <h3 class="services-three__title">
              <a href="body-treatments.html">Relaxation</a>
            </h3>
            <p class="services-three__text">
              Sed quia magni doles eos qui ration volupta tem sequi nesciunt
              eque porro.
            </p>
          </div>
        </div>
        <!--Services Three Single End-->
        <!--Services Three Single Start-->
        <div
          class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
          data-wow-delay="200ms"
        >
          <div class="services-three__single">
            <div class="services-three__shape-1">
              <img
                src="assets/images/shapes/services-three-shape-1.png"
                alt=""
              />
            </div>
            <div class="services-three__icon">
              <span class="icon-facial-massage"></span>
            </div>
            <h3 class="services-three__title">
              <a href="massages.html">Massage</a>
            </h3>
            <p class="services-three__text">
              Sed quia magni doles eos qui ration volupta tem sequi nesciunt
              eque porro.
            </p>
          </div>
        </div>
        <!--Services Three Single End-->
        <!--Services Three Single Start-->
        <div
          class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="services-three__single">
            <div class="services-three__shape-1">
              <img
                src="assets/images/shapes/services-three-shape-1.png"
                alt=""
              />
            </div>
            <div class="services-three__icon">
              <span class="icon-spa"></span>
            </div>
            <h3 class="services-three__title">
              <a href="thermo-stone.html">Hot Stone</a>
            </h3>
            <p class="services-three__text">
              Sed quia magni doles eos qui ration volupta tem sequi nesciunt
              eque porro.
            </p>
          </div>
        </div>
        <!--Services Three Single End-->
        <!--Services Three Single Start-->
        <div
          class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
          data-wow-delay="400ms"
        >
          <div class="services-three__single">
            <div class="services-three__shape-1">
              <img
                src="assets/images/shapes/services-three-shape-1.png"
                alt=""
              />
            </div>
            <div class="services-three__icon">
              <span class="icon-hand-cream"></span>
            </div>
            <h3 class="services-three__title">
              <a href="hydro-therapy.html">Hydro</a>
            </h3>
            <p class="services-three__text">
              Sed quia magni doles eos qui ration volupta tem sequi nesciunt
              eque porro.
            </p>
          </div>
        </div>
        <!--Services Three Single End-->
      </div>
      <div class="services-three__btn-box">
        <a href="services.html" class="services-three__btn thm-btn"
          >Book services now</a
        >
      </div>
    </div>
  </div>
</section>
<!--Services Three End-->

<!--Promotions One Start-->
<section class="promotions-one">
  <div class="container">
    <div class="row">
      <!--Promotions One Single Start-->
      <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
        <div class="promotions-one__single">
          <div
            class="promotions-one__single-bg"
            style="
              background-image: url(assets/images/backgrounds/promotion-one-single-bg.png);
            "
          ></div>
          <div class="promotions-one__shape-1">
            <img src="assets/images/shapes/promotions-one-shape-1.png" alt="" />
          </div>
          <div
            class="promotions-one__single-bg-2"
            style="
              background-image: url(assets/images/backgrounds/promotion-one-single-bg-2.png);
            "
          ></div>
          <h3 class="promotions-one__title">
            Beauty <br />
            Treatment
          </h3>
          <a href="contact.html" class="promotions-one__btn thm-btn"
            >Book now</a
          >
          <div class="promotions-one__discount">
            <h3>
              30% <br />
              off
            </h3>
          </div>
        </div>
      </div>
      <!--Promotions One Single End-->
      <!--Promotions One Single Start-->
      <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-delay="200ms">
        <div class="promotions-one__single promotions-one__single-2">
          <div
            class="promotions-one__single-bg"
            style="
              background-image: url(assets/images/backgrounds/promotion-one-single-bg-3.png);
            "
          ></div>
          <div class="promotions-one__shape-1">
            <img src="assets/images/shapes/promotions-one-shape-1.png" alt="" />
          </div>
          <div
            class="promotions-one__single-bg-2"
            style="
              background-image: url(assets/images/backgrounds/promotion-one-single-bg-4.png);
            "
          ></div>
          <h3 class="promotions-one__title">
            Spa & <br />
            Massage
          </h3>
          <a href="contact.html" class="promotions-one__btn thm-btn"
            >Book now</a
          >
          <div class="promotions-one__discount">
            <h3>
              30% <br />
              off
            </h3>
          </div>
        </div>
      </div>
      <!--Promotions One Single End-->
    </div>
  </div>
</section>
<!--Promotions One End-->

<!--Testimonial Three Start-->
<section class="testimonial-three">
  <div
    class="testimonial-three__bg"
    style="
      background-image: url(assets/images/backgrounds/testimonial-three-bg.jpg);
    "
  ></div>
  <div class="container">
    <div class="testimonial-three__slider">
      <div class="swiper-container" id="testimonial-three__thumb">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-three__img-holder">
              <img src="assets/images/testimonial/testimonial-3-1.jpg" alt="" />
            </div>
          </div>
          <!-- /.swiper-slide -->
          <div class="swiper-slide">
            <div class="testimonial-three__img-holder">
              <img src="assets/images/testimonial/testimonial-3-2.jpg" alt="" />
            </div>
          </div>
          <!-- /.swiper-slide -->
          <div class="swiper-slide">
            <div class="testimonial-three__img-holder">
              <img src="assets/images/testimonial/testimonial-3-3.jpg" alt="" />
            </div>
          </div>
          <!-- /.swiper-slide -->
        </div>
        <!-- /.swiper-wrapper -->
      </div>
      <!-- /#testimonials-one__thumb.swiper-container -->

      <div class="testimonial-three__main-content">
        <div class="swiper-container" id="testimonial-three__carousel">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-three__client-info">
                <div class="testimonial-three__client-img">
                  <img
                    src="assets/images/testimonial/testimonial-three-client-img-1-1.jpg"
                    alt=""
                  />
                  <div class="testimonial-three__quote">
                    <img src="assets/images/icon/icon-quote-two.png" alt="" />
                  </div>
                </div>
                <div class="testimonial-three__client-content">
                  <div class="testimonial-three__client-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <p class="testimonial-three__client-text">
                    Saturday is a day for the spa. It's not selfish to love
                    yourself, take care of yourself, and to make your happiness
                    a priority.
                  </p>
                  <div class="testimonial-three__client-details">
                    <div class="testimonial-three__client-title-box">
                      <h4 class="testimonial-three__client-name">
                        Aleesha Brown
                      </h4>
                      <p class="testimonial-three__client-sub-title">
                        Customer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.swiper-slide -->

            <div class="swiper-slide">
              <div class="testimonial-three__client-info">
                <div class="testimonial-three__client-img">
                  <img
                    src="assets/images/testimonial/testimonial-three-client-img-1-2.jpg"
                    alt=""
                  />
                  <div class="testimonial-three__quote">
                    <img src="assets/images/icon/icon-quote-two.png" alt="" />
                  </div>
                </div>
                <div class="testimonial-three__client-content">
                  <div class="testimonial-three__client-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <p class="testimonial-three__client-text">
                    Saturday is a day for the spa. It's not selfish to love
                    yourself, take care of yourself, and to make your happiness
                    a priority.
                  </p>
                  <div class="testimonial-three__client-details">
                    <div class="testimonial-three__client-title-box">
                      <h4 class="testimonial-three__client-name">
                        Aleesha Brown
                      </h4>
                      <p class="testimonial-three__client-sub-title">
                        Customer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.swiper-slide -->

            <div class="swiper-slide">
              <div class="testimonial-three__client-info">
                <div class="testimonial-three__client-img">
                  <img
                    src="assets/images/testimonial/testimonial-three-client-img-1-1.jpg"
                    alt=""
                  />
                  <div class="testimonial-three__quote">
                    <img src="assets/images/icon/icon-quote-two.png" alt="" />
                  </div>
                </div>
                <div class="testimonial-three__client-content">
                  <div class="testimonial-three__client-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <p class="testimonial-three__client-text">
                    Saturday is a day for the spa. It's not selfish to love
                    yourself, take care of yourself, and to make your happiness
                    a priority.
                  </p>
                  <div class="testimonial-three__client-details">
                    <div class="testimonial-three__client-title-box">
                      <h4 class="testimonial-three__client-name">
                        Aleesha Brown
                      </h4>
                      <p class="testimonial-three__client-sub-title">
                        Customer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.swiper-slide -->
          </div>
          <!-- /.swiper-wrapper -->
        </div>
        <div id="testimonials-one__carousel-pagination"></div>
      </div>
    </div>
  </div>
</section>
<!--Testimonial Three End-->

<!--Spa Center Two Start-->
<section class="spa-center-two">
  <div
    class="spa-center-two__bg jarallax"
    data-jarallax
    data-speed="0.2"
    data-imgPosition="50% 0%"
    style="
      background-image: url(assets/images/backgrounds/spa-center-two-bg.jpg);
    "
  ></div>
  <div class="container">
    <div class="spa-center-two__inner">
      <div class="spa-center-two__title-box">
        <h3 class="spa-center-two__title">Modern Beauty & Spa Center</h3>
      </div>
      <a href="services.html" class="spa-center-two__btn thm-btn"
        >Discover more</a
      >
    </div>
  </div>
</section>
<!--Spa Center Two End-->

<!--Three POints Start-->
<section class="three-points">
  <div class="container">
    <div class="three-points__wrap">
      <div class="three-points__inner">
        <div class="three-points__shape-1 float-bob-y">
          <img src="assets/images/shapes/three-points-shape-1.png" alt="" />
        </div>
        <ul class="three-points__list list-unstyled">
          <li>
            <div class="three-points__icon">
              <span class="fa fa-check"></span>
            </div>
            <div class="three-points__content">
              <h3 class="three-points__title">Expert Staff</h3>
              <p class="three-points__text">
                Lorem Ipsum nibh vel aliquet. Aenean sollic tudin, lorem is
                simply free text.
              </p>
            </div>
          </li>
          <li>
            <div class="three-points__icon">
              <span class="fa fa-check"></span>
            </div>
            <div class="three-points__content">
              <h3 class="three-points__title">Quality Products</h3>
              <p class="three-points__text">
                Lorem Ipsum nibh vel aliquet. Aenean sollic tudin, lorem is
                simply free text.
              </p>
            </div>
          </li>
          <li>
            <div class="three-points__icon">
              <span class="fa fa-check"></span>
            </div>
            <div class="three-points__content">
              <h3 class="three-points__title">Best Place</h3>
              <p class="three-points__text">
                Lorem Ipsum nibh vel aliquet. Aenean sollic tudin, lorem is
                simply free text.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--Three POints End-->

<!--Brand One Start-->
<section class="brand-two">
  <div class="container">
    <div
      class="thm-swiper__slider swiper-container"
      data-swiper-options='{"spaceBetween": 100,
                "slidesPerView": 5,
                "loop": true,
                "navigation": {
                    "nextEl": "#brand-one__swiper-button-next",
                    "prevEl": "#brand-one__swiper-button-prev"
                },
                "autoplay": { "delay": 5000 },
                "breakpoints": {
                    "0": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "375": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "575": {
                        "spaceBetween": 30,
                        "slidesPerView": 3
                    },
                    "767": {
                        "spaceBetween": 50,
                        "slidesPerView": 4
                    },
                    "991": {
                        "spaceBetween": 50,
                        "slidesPerView": 5
                    },
                    "1199": {
                        "spaceBetween": 100,
                        "slidesPerView": 5
                    }
                }}'
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="assets/images/brand/brand-2-1.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand-2-2.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand-2-3.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand-2-4.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand-2-5.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand-2-1.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand-2-2.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand-2-3.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand-2-4.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand-2-5.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
      </div>
    </div>
  </div>
</section>
<!--Brand One End-->

<!--Contact One Start-->
<section class="contact-one">
  <div class="contact-one__shape-1 float-bob-x">
    <img src="assets/images/shapes/contact-one-shape-1.png" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-7">
        <div class="contact-one__left">
          <div class="section-title text-left">
            <span class="section-title__tagline">Contact us</span>
            <h2 class="section-title__title">
              Send a Message or Book Our Services
            </h2>
          </div>
          <p class="contact-one__text">
            Lorem ipsum dolor sit amet, conse ctetur adipisicing elit sed do
            eiusm od tempor ut labore. sit simply free text amet scelerisque
            eros. Phasellus hendrerit neque a augue.
          </p>
          <div class="contact-one__img-and-counter">
            <div class="contact-one__img">
              <img src="assets/images/resources/contact-one-img.jpg" alt="" />
            </div>
            <ul class="contact-one__counter list-unstyled">
              <li>
                <div class="contact-one__count-box">
                  <h3 class="odometer" data-count="8963">00</h3>
                </div>
                <p class="contact-one__count-text">Massages & Therapies</p>
              </li>
              <li>
                <div class="contact-one__count-box">
                  <h3 class="odometer" data-count="326">00</h3>
                </div>
                <p class="contact-one__count-text">Happy Repeat Clients</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-5">
        <div class="contact-one__right">
          <div class="contact-one__content">
            <form
              action="assets/inc/sendemail.php"
              class="contact-one__form contact-form-validated"
              novalidate="novalidate"
            >
              <div class="row">
                <div class="col-xl-12">
                  <div class="contact-one__form-input-box">
                    <input type="text" placeholder="Your Name" name="name" />
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="contact-one__form-input-box">
                    <input
                      type="email"
                      placeholder="Email Address"
                      name="email"
                    />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="contact-one__form-input-box">
                    <input type="text" placeholder="Phone" name="Phone" />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="contact-one__form-input-box">
                    <input
                      type="text"
                      placeholder="Select Service"
                      name="Select Service"
                    />
                  </div>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="contact-one__form-input-box text-message-box">
                  <textarea
                    name="message"
                    placeholder="Write Message"
                  ></textarea>
                </div>
                <div class="contact-one__btn-box">
                  <button type="submit" class="thm-btn contact-one__btn">
                    Send a message
                  </button>
                </div>
              </div>
            </form>
            <div class="result"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Contact One End-->

<!--Instagram Two End-->
<section class="instagram-two">
  <div class="container">
    <div class="section-title text-center">
      <span class="section-title__tagline">follow on</span>
      <h2 class="section-title__title">Our Instagram</h2>
    </div>
    <div class="instagram-two__bottom">
      <div
        class="instagram-two__carousel thm-owl__carousel owl-theme owl-carousel"
        data-owl-options='{
                        "items": 1,
                        "margin": 0,
                        "smartSpeed": 700,
                        "loop":true,
                        "autoplay": 6000,
                        "nav":false,
                        "dots":false,
                        "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"],
                        "responsive":{
                            "0":{
                                "items":1
                            },
                            "768":{
                                "items":3
                            },
                            "992":{
                                "items": 4
                            },
                            "1200":{
                                "items": 5
                            }
                        }
                    }'
      >
        <!--Instagram Single Start-->
        <div class="item">
          <div class="instagram-two__single">
            <div class="instagram-two__img">
              <img src="assets/images/resources/instagram-2-1.jpg" alt="" />
              <div class="instagram-two__img-icon">
                <a href="#"><span class="fab fa-instagram"></span></a>
              </div>
            </div>
          </div>
        </div>
        <!--Instagram Single End-->
        <!--Instagram Single Start-->
        <div class="item">
          <div class="instagram-two__single">
            <div class="instagram-two__img">
              <img src="assets/images/resources/instagram-2-2.jpg" alt="" />
              <div class="instagram-two__img-icon">
                <a href="#"><span class="fab fa-instagram"></span></a>
              </div>
            </div>
          </div>
        </div>
        <!--Instagram Single End-->
        <!--Instagram Single Start-->
        <div class="item">
          <div class="instagram-two__single">
            <div class="instagram-two__img">
              <img src="assets/images/resources/instagram-2-3.jpg" alt="" />
              <div class="instagram-two__img-icon">
                <a href="#"><span class="fab fa-instagram"></span></a>
              </div>
            </div>
          </div>
        </div>
        <!--Instagram Single End-->
        <!--Instagram Single Start-->
        <div class="item">
          <div class="instagram-two__single">
            <div class="instagram-two__img">
              <img src="assets/images/resources/instagram-2-4.jpg" alt="" />
              <div class="instagram-two__img-icon">
                <a href="#"><span class="fab fa-instagram"></span></a>
              </div>
            </div>
          </div>
        </div>
        <!--Instagram Single End-->
        <!--Instagram Single Start-->
        <div class="item">
          <div class="instagram-two__single">
            <div class="instagram-two__img">
              <img src="assets/images/resources/instagram-2-5.jpg" alt="" />
              <div class="instagram-two__img-icon">
                <a href="#"><span class="fab fa-instagram"></span></a>
              </div>
            </div>
          </div>
        </div>
        <!--Instagram Single End-->
      </div>
    </div>
  </div>
</section>
<!--Instagram Two End-->
