---
layout: layouts/inner.njk
title: "Services"
meta: "meta services"
excerpt: "title"
permalink: /services/
---

<!--Services Page Start-->
<section class="services-page">
  <div class="container">
    <div class="row">
      {% for serviceCategory in services.serviceCategories %} {% for service in
      serviceCategory.services %}
      <!--Services One Single Start-->
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="100ms"
      >
        <div class="services-one__single">
          <div class="services-one__single-inner">
            <div class="services-one__shape-1">
              <img
                src="/assets/images/shapes/services-one-shape-1.png"
                alt=""
              />
            </div>
            <div class="services-one__shape-2">
              <img
                src="/assets/images/shapes/services-one-shape-2.png"
                alt=""
              />
            </div>
            <div class="services-one__img-box">
              <div class="services-one__img">
                <img src="{{ service.image }}" alt="" />
              </div>
              <div class="services-one__icon">
                <span class="{{ service.icon }}"></span>
              </div>
            </div>
            <h3 class="services-one__title">
              <a href="spa-facials.html">{{ service.title }}</a>
            </h3>
            <p class="services-one__text">
              {{ service.smallDescription }}
            </p>
            <div class="services-one__btn-box">
              <a
                href="/services/{{ serviceCategory.title | slug }}/{{
                  service.title | slugify
                }}/"
                class="services-one__btn"
                >More details<i class="icon-right-arrow"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!--Services One Single End-->
      {%endfor%} {%endfor%}
    </div>
  </div>
</section>
<!--Services Page End-->

<!--Promotions One Start-->
<section class="promotions-one">
  <div class="container">
    <div class="row">
      <!--Promotions One Single Start-->
      <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
        <div class="promotions-one__single">
          <div
            class="promotions-one__single-bg"
            style="
              background-image: url(/assets/images/backgrounds/promotion-one-single-bg.png);
            "
          ></div>
          <div class="promotions-one__shape-1">
            <img
              src="/assets/images/shapes/promotions-one-shape-1.png"
              alt=""
            />
          </div>
          <div
            class="promotions-one__single-bg-2"
            style="
              background-image: url(/assets/images/backgrounds/promotion-one-single-bg-2.png);
            "
          ></div>
          <h3 class="promotions-one__title">
            Beauty <br />
            Treatment
          </h3>
          <a href="contact.html" class="promotions-one__btn thm-btn"
            >Book now</a
          >
          <div class="promotions-one__discount">
            <h3>
              30% <br />
              off
            </h3>
          </div>
        </div>
      </div>
      <!--Promotions One Single End-->
      <!--Promotions One Single Start-->
      <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-delay="200ms">
        <div class="promotions-one__single promotions-one__single-2">
          <div
            class="promotions-one__single-bg"
            style="
              background-image: url(/assets/images/backgrounds/promotion-one-single-bg-3.png);
            "
          ></div>
          <div class="promotions-one__shape-1">
            <img
              src="/assets/images/shapes/promotions-one-shape-1.png"
              alt=""
            />
          </div>
          <div
            class="promotions-one__single-bg-2"
            style="
              background-image: url(/assets/images/backgrounds/promotion-one-single-bg-4.png);
            "
          ></div>
          <h3 class="promotions-one__title">
            Spa & <br />
            Massage
          </h3>
          <a href="contact.html" class="promotions-one__btn thm-btn"
            >More details</a
          >
          <div class="promotions-one__discount">
            <h3>
              30% <br />
              off
            </h3>
          </div>
        </div>
      </div>
      <!--Promotions One Single End-->
    </div>
  </div>
</section>
<!--Promotions One End-->
