---
layout: layouts/inner.njk
title: "Services"
meta: "meta services"
excerpt: "title"
permalink: /treatments/
---

<!--Services Page Start-->
<section class="services-page">
  <div class="container">
    {% for serviceCategory in services.serviceCategories %}
    <div class="row" id="{{ serviceCategory.title | slugify }}">
      <div class="col-12 col-md-10 m-md-auto m-lg-0">
        <h3 class="section-subtitle__title mb-3">
          {{ serviceCategory.title }}
        </h3>
        <p class="welcome-one__text">
          {{ serviceCategory.longDescription }}
        </p>
      </div>
    </div>
    <div class="row">
      {% for service in serviceCategory.services %}
      <!--Services One Single Start-->
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="100ms"
      >
        <div class="services-one__single">
          <div class="services-one__single-inner">
            <div class="services-one__shape-1">
              <img
                src="/assets/images/shapes/services-one-shape-1.png"
                alt=""
              />
            </div>
            <div class="services-one__shape-2">
              <img
                src="/assets/images/shapes/services-one-shape-2.png"
                alt=""
              />
            </div>
            <div class="services-one__img-box">
              <div class="services-one__img">
                <img src="{{ service.thumbnail }}" alt="{{ service.title }}" />
              </div>
              <div class="services-one__icon">
                <span class="fa {{ serviceCategory.icon }}"></span>
              </div>
            </div>
            <h3 class="services-one__title">
              <a
                href="/treatments/{{ serviceCategory.title | slug }}/{{
                  service.title | slugify
                }}/"
                >{{ service.title }}</a
              >
            </h3>
            <p class="services-one__text">
              {{ service.smallDescription }}
            </p>
            <div class="services-one__btn-box">
              <a
                href="/treatments/{{ serviceCategory.title | slug }}/{{
                  service.title | slugify
                }}/"
                class="services-one__btn"
                >More details<i class="icon-right-arrow"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!--Services One Single End-->
      {%endfor%}
    </div>
    {%endfor%}
  </div>
</section>
<!--Services Page End-->

<!--Promotions One Start-->

<!--Promotions One End-->
