---
layout: layouts/service.njk
pagination:
  data: collections.services
  size: 1
  alias: service # Alias for each service in pagination
permalink: "/treatments/{{ service.category | slug }}/{{ service.title | slug }}/"
---
